/*{outline: 1px solid red;}*/
/*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 1px solid red;
    
}*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header {
  margin-bottom: 30px;
  color: olive;
}

h2 {
  text-align: right;
  margin-top: 10px;
  font-weight: lighter;
}

hr {
  height: 2px;
  margin-top: 5px;
  background: olive;
}

button {
  background: floralwhite;
  border: 3px solid olive;
  color: olive;
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

button:hover {
  padding: 5px;
  background: olive;
  color: floralwhite;
  border-radius: 10px;
  width: 120px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}


.list{
  display:flex;
  flex-direction:column;
}

.list .tags img{
  width:20px;
  filter:grayscale(100%) contrast(1.5);
  mix-blend-mode:multiply;
}


li {
  display: flex;
  flex-direction: column;
  padding: 6px;
  font-size: 20px;
  margin-top: 15px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: 1s;
  border-radius: 5px;
  border: transparent 5px solid;
  height: auto;
}

li:hover {
  letter-spacing: 3px;
  border: 5px solid olive;
  font-weight: bold;
}

/*RETÍCULA*/
.grid {
  border-radius: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
  align-items: baseline;
}

.grid li {
  width: 450px;
  height: 100px;
  transition: 0.4s;
}

.grid img .imgIndice{
  max-width: 100px;
  max-height: 100px;
}

.grid li:hover {
  border: 2px solid olive;
  letter-spacing: 0;
  font-weight: normal;
  height: 350px;
  
}
.imgIndice{overflow: hidden; display: flex;
  
  flex-wrap: nowrap;
 margin: 0 auto;
 opacity: 0;

}
ul li .imgIndice:hover{opacity: 100%;align-items: flex-end;
}




li .tags img {
  width: 30px;
  filter: drop-shadow(0px 0px 0px black);
  transition: 0.4s;
}

li:hover .tags img {
  margin-top: 10px;
  width: 80px;
  filter: drop-shadow(2px 2px 4px black);
}

li:hover .tags img:nth-child(1) {
  transition-delay: 0.2s
}

li:hover .tags img:nth-child(2) {
  transition-delay: 0.3s
}

li:hover .tags img:nth-child(3) {
  transition-delay: 0.4s
}

/****************************/
img {
  max-width: 100%;
}

body {
  color: olive;
  font-family: sans-serif;
  max-width: 960px;
  margin: 20px auto;
  background: floralwhite;
}

a {
  text-decoration: none;
  color: olive;
}

@media (max-width: 560px) {
  body {
      padding: 15px;
  }
}

footer {
  text-align: center;
  color: grey;
  margin-top: 20px
}
