/*{outline: 1px solid red;}*/
/*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 1px solid red;
    
}*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}
h2 {
  text-align: right;
  margin-top: 10px;
  font-weight: lighter;
}
header {
  margin-bottom: 30px;
}
hr {
  height: 2px;
  margin-top: 10px;
  background: olive;
}

li {
  display: flex;

  padding: 10px;
  font-size: 20px;
  margin-top: 15px;

  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: 1s;
  border-radius: 5px;
}
li:hover{letter-spacing: 3px ; border: 5px solid olive; font-weight: bold;}



/*
ul.galeria {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
   
}
/*RETÍCULA*/
/********************
ul.galeria li {
    max-width: 22%;
    height: 140px;
    border-radius:10%;

    overflow: hidden;
}********************************/
ul li img {
  max-width: 15px;
  max-height: 15px;
}




body {
  color: olive;
  font-family: sans-serif;
  max-width: 960px;
  margin: 20px auto;

  background: floralwhite;
}

a {
  text-decoration: none;
  color: olive;
}

@media (max-width: 560px) {
  body {
    padding: 15px;
  }
}

footer {
  text-align: center;
  color: floralwhite;
  margin-top: 50px;
  background: olive;
}
